{include file="common/header"}

<block name="billboard"></block>

<div class="container big-container">
    <div class="row">
        <block name="content">
    <div class="col-md-9">
       
        {if condition="count($list) eq 0"}
       <h3 style="color: red;text-align: center;">未找到相关文章</h3>
        {else /}
         <div class="alert alert-warning">您正在查看关键字：&nbsp;“{$keywords}”&nbsp;&nbsp;分类下的文章</div>
       {volist name="list" id="post"}
            <div class="panel panel-default">
                <div class="panel-body">
                    <h3 class="post-title">
                        <a href="{:url('index/art/detail',array('id'=>$post['id']))}" title="{$post.title}">{$post.title}</a>
                    </h3>
                    <div class="post-meta">
                        <span class="ion-calendar">
                            <span class="post-meta-color">
                                {$post.create_time}
                            </span>&emsp;
                        </span>
                        <a href="javascript:;" style="color:#777" class="ion-heart"
                           onclick="likeNum('{$post.id}', $(this))">
                            <span class="post-meta-color"> $post.zan</span>&emsp;
                        </a>
                        <span class="ion-eye">
                            <span class="post-meta-color"> {$post.click}</span>&emsp;
                        </span>
                        <span class="ion-ios-pricetags-outline">
                            <span class="post-meta-color">{$post.cate.catename}</span>&emsp;
                        </span>
                    </div>
                    <div class="post-content post-limit" style="height:100px">
                        {$post.content|htmlspecialchars_decode}
                    </div>

                    <div class="post-content more">
                        <a href="{:url('art/detail',array('id'=>$post['id']))}">
                            阅读全文
                        </a>
                    </div>
                </div>
            </div>
     {/volist}
    
        <!--分页-->

        <div style="text-align: right">
            <ul class="pagination inline">
                  {$list->render()}
            </ul>
        </div>
         {/if}
    </div>
      {include file="common/side"}

         <!--返回顶部-->
	        <div id="elevator_item" style="display: block;">
	            <a id="elevator" onclick="return false;" title="回到顶部"></a>

            </div>

    </div>
</div>

</block>
{include file="common/footer"}
